footer{
    background-image: url(../imagenes/filapochorose.jpg);
    background-position: center;
.textfooter{
    text-align: center;
    font-size: small;
    margin-top: auto;
    margin-bottom: auto;
    }
  }
