header {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff09;
   
    }
    .encabezado{
     background-color: #0e000000;
    }
   .navbar{
     background-color: #000508;
   }
   .container-fluid{
     background-color: #0e000000;
   }