main{
@include flex-space-evenly-row; 
    .container{
        display:flex;
        height:100vh;
        width: 50%;
        padding: 20px;
        .container__hijo1{
            height:100vh;
            width: 50% ;        
            background-size:contain;
            display:flex;
            flex-direction: column;
            justify-content:right;
            align-items:center;
            justify-content: space-between;
            margin: 5px 10px 12px 15px;
            padding: 5px 10px 12px 15px;;
        .container__hijo2{
            width:50%;
            height: 100%;
            display:flex;
            flex-direction:column; 
            align-items: center;
            justify-content:right;
           border-bottom: 10px solid rgb(228, 206, 206);
         }
      }
    }
 }
/*media querie para el main*/
@media screen and (max-width:600px) {
    .container__hijo1{
        width: 100%;
        main{
            .container{
                display:flex;
                height:100vh;
                width: 50%;
                padding: 20px;
        
            }
        }
      }

  }

  //main contacto//
  .main-contacto{
 :root{
    --phone: $red-phone; 
    --facebook: $red-facebook; 
    --instagram: $red-instagram; 
    --location: $red-location; 

  .redes-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  
  .redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
  
  .redes-container ul li a{
    display: block;
    padding: 0 1opx;
    background: #3d3c3c;
    color: #f0f8ff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: rgb(61, 60, 60);
    transition: .2s;
  
  .redes-container ul:hover a{
    filter: blur(2px);
  
  .redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgb(61, 60, 60);
    filter: none;
  
  .redes-container ul li .phone:hover{
    background: var(--phone);
  
  .redes-container ul li .facebook:hover{
    background: var(--facebook);
  
  .redes-container ul li .instagram:hover{
    background: var(--instagram);
  
  .redes-container ul li .location:hover{
    background: var(--location);
                     }

                   }
                 }
              }
              }
             }
           }
         }
       }
    }
  }
