$flex : flex;
$center:center;
$space-around :space-around;
$primary-color: pink;
$text-align: center;
$red-facebook :  blue;
$red-instagram : rgb(206, 79, 245);
$red-phone : rgb(15, 1, 64);
$red-location : red;
