@import "fuentes";
@import "variables";
@import "mixins";
@import "reset";
@import "body";
@import "header";
@import "main";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

        body{
            background-image:  linear-gradient(to left bottom, #fbe7f3, #fddff3, #ffd6f3, #ffcef4, #ffc6f6, #f1cbfc, #e5cfff, #d9d3ff, #cbdfff, #c4eaff, #c9f3ff, #d5f9f9);
        }
.lista__servicios{
    display: $flex;
    text-align: justify;
    justify-content: $center;
    background-color: $primary-color

        }
 .galeria{
    display: $flex;
    flex-wrap: wrap;
    .imagenes_trabajo{
        display: $flex;
        justify-content: $space-around;
        justify-items: $center;
        padding-inline: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
    }  

}

h1{
    font-size: 3rem;
    margin-bottom: 2.5rem;
    margin-top: 2 rem;
    font-family: 'Meddon', cursive;
    text-align: $center;

}
h2{
     font-size: 2rem;
     margin-bottom: 2.5rem;
     font-family: 'Meddon', cursive;
}

h3{
    padding: 30px;
}
.box__parrafo{  
     padding-right: 30px;
     display: $flex;
   
}
p{
     font-size: 1.5rem;
     line-height: 1.1;
     margin-bottom: 0.5rem;
}
.formulario{
    display: $flex;
    justify-content:$center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.contacto{
    text-align: $center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.parrafo2{
    text-align: $center;
    font-size: 1rem;
    font-family: 'Laila';
}

.iframe{

display: $flex;
justify-content: $center;

  
}
.titulovideo{
    text-align:$center;
}

fieldset{
    display: $flex;
    justify-content:$center;
}

/**MEDIA QUERIE PARA CONTENEDOR HIJO 1**/
@media  screen and (max-width:992px) {
    .container__hijo1{
        width: 50%;
    }
}



 